@charset "UTF-8";


.head {
	width:100%;
	text-align:center;
	font-size:150%;
	margin:20px;
}


.content {
	width:800px;
	margin:100px auto;
}

.content .headline {
	word-wrap:break-word;
	width:100%;
	padding:10px 10px;
}

.content .headline:hover {
	background-color: #eee;
	transition: background-color 0.3s linear;
}

.numberOfresults {
	margin-top:50px;
	text-align:center;
}

input[type=text] {
	width:100px;
}