<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>dataDuration</display-name>
  <servlet>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>controller/HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Result_detailsController</servlet-name>
    <servlet-class>controller/Result_detailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Result_detailsController</servlet-name>
    <url-pattern>/result_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BasicSearchController</servlet-name>
    <servlet-class>controller/BasicSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicSearchController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvancedSearchControlloer</servlet-name>
    <servlet-class>controller/AdvancedSearchControlloer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvancedSearchControlloer</servlet-name>
    <url-pattern>/advanced_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExtractController</servlet-name>
    <servlet-class>controller/ExtractController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtractController</servlet-name>
    <url-pattern>/extract</url-pattern>
  </servlet-mapping>
</web-app>